@model IEnumerable<bsatovidal1_Job_Bank.Models.PostingFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <div class="form-horizontal">
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select by Position:</label>
                            @Html.DropDownList("PositionID", null, "All Jobs", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Search File Name:</label>
                            @Html.TextBox("SearchString", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6  align-self-end">
                        <div class="form-group">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-dark ">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Posting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MimeType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Posting.PostingSummary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MimeType)
                </td>
                <td>
                    <a asp-action="Download" asp-route-id="@item.ID">@item.FileName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
